doctype html5
html(lang='en')
  head
    meta(name='viewport', content='initial-scale=1.0, user-scalable=no, maximum-scale=1', media='(device-height: 568px)')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
    link(href="../SharpUnity.css", rel="stylesheet")
    link(href="../callToAction.css", rel="stylesheet")
    title Take Action

  body
    div#mainContainer
      h1#title Take Action
      h4#subtitle Contact your congress people
      div(id="zipcodeForm")
        label Your Zip Code:
        br
        input#zipcode(name="zipcode")
        br
        input(type="submit" value="Go" onclick="findReps()")
      div#congress
        p#congressTitle Your members of congress:
        ul#congressList
    script(src="callToAction.js")