doctype html5
html(lang='en')
  head

    meta(name='viewport', content='initial-scale=1.0, user-scalable=no, maximum-scale=1', media='(device-height: 568px)')
    title Register for the march

  body
    #content
      .wrapper
        h1 Are you coming to the march?
        p Show your support for the ERA by marching on January 19th
        block content
