doctype html5
html(lang='en')
  head
    meta(name='viewport', content='initial-scale=1.0, user-scalable=no, maximum-scale=1', media='(device-height: 568px)')
    link(href="register.css", rel="stylesheet")
    script(src="register.js")
    title Register for the march

  body
    #background
      img#backgroundimage(src="colorfulbackground.jpg")
    #form-container
      h1 Are you coming to the march?
      p Show your support for the ERA by marching on January 19th
      #review-form
        form.form#theform(method="post", enctype="application/x-www-form-urlencoded", action="/register")

          .row
            label Are you coming as an individual or as a group?
            br
            select(name="alone_or_group" id="registrationtype")
              option(value="individual") Individual
              option(value="group") Group
          #individualregistration.registrationSection
            .row
              label What's your name?
              br
              input(type="text", name="name")
            .row
              label What's your email address?
              br
              input(type="email", name="email", id="indemail")
            .row
              label Would you like to volunteer?
              br
              select(name="volunteer")
                option(value="no" selected="selected") No
                option(value="yes") Yes
          #groupregistration.registrationSection
            .row
              label What's your group's name?
              br
              input(type="text", name="name")
            .row
              label What email address can we reach you at?
              br
              input(type="email", name="email", id="grpemail")
            .row
              label How many people in your group?
              br
              input(type="number", name="number_of_people")
          .row
              button(type="submit" id="submitbutton") Register!
          .row
              #confirmationbox(style="display:" + display) Thank you for registering!
            
